CalculationTest/App_Data/aspnet-CalculationTest-20170713100557.mdf
CalculationTest/App_Data/aspnet-CalculationTest-20170713100557_log.ldf
CalculationTest/bin/CalculationTest.dll
CalculationTest/bin/CalculationTest.pdb
CalculationTest/obj/Debug/CalculationTest.csproj.FileListAbsolute.txt
CalculationTest/obj/Debug/CalculationTest.csprojResolveAssemblyReference.cache
CalculationTest/obj/Debug/CalculationTest.dll
CalculationTest/obj/Debug/CalculationTest.pdb
CalculationTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache